.Scene {
  position: relative;
  margin: 1em auto;
  width: 500px;
  height: 500px;
  background-color: #efefef;
}

.Scene-food {
  position: absolute;
}

.Scene-message {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}
